/* Reset & global */
* { box-sizing: border-box; user-select: none; margin: 0; padding: 0; }
html, body { width:100%; height:100%; font-family: Arial; background:#000; color:#fff; overflow:hidden; }

#pano { position:absolute; top:0; left:0; width:100%; height:100%; }
#titleBar { position:absolute; top:0; left:0; right:0; height:40px; text-align:center; }
#titleBar .sceneName { line-height:40px; background:rgba(58,68,84,0.8); overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:0 10px; }

#fullscreenToggle, #autorotateToggle, #sceneListToggle {
  position:absolute; top:0; width:40px; height:40px; background:rgba(103,115,131,0.8); cursor:pointer;
}
#fullscreenToggle { right:0; }
#autorotateToggle { right:40px; }
#sceneListToggle { left:0; }

#sceneList {
  position:absolute; top:0; left:-220px; width:220px; height:100%; background:rgba(58,68,84,0.8); overflow-y:auto; transition:left 0.3s;
}
#sceneList.enabled { left:0; }
#sceneList .scene { height:30px; line-height:30px; padding:0 10px; cursor:pointer; }
#sceneList .scene.current { background:rgba(103,115,131,0.8); }

.link-hotspot, .info-hotspot { position:absolute; width:60px; height:60px; margin:-30px 0 0 -30px; cursor:pointer; }
.link-hotspot img, .info-hotspot img { width:100%; height:100%; }
